<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceptor-About</title>
  <link rel="stylesheet" href="/user/css/home.css">
  <link rel="icon" href="/user/images/icon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

    body {
      font-family: "Questrial";
    }
  </style>
</head>

<body class="main">
  <!-- Preloader -->
  <div class="preloader">
    <svg viewBox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="big-circle" d="M101 51C101 78.6142 78.6142 101 51 101C23.3858 101 1 78.6142 1 51" stroke="#252525"
        stroke-width="2" />
      <path class="small-circle" d="M91 51C91 28.9086 73.0914 11 51 11C28.9086 11 11 28.9086 11 51" stroke="#252525"
        stroke-width="2" />
    </svg>
  </div>
  <!-- for display after the preloader -->
  <div class="page">
    <!-- navbar -->
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-2 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="/user/images/icon.png" class="bi me-2" width="50" height="50">
          <use xlink:href="#bootstrap" />
          <span class="fs-4" style="font-family: 'Questrial';">Hemo  <span class="text-danger">Tracker</span></span>
        </a>
        <ul class="nav">
          <li class="nav-item"><a href="/accept/acchom" class="nav-link text-dark">Home</a></li>
          <li class="nav-item"><a href="/accept/accabt" class="nav-link text-danger border-bottom border-danger">About</a></li>
          <li class="nav-item"><a href="/accept/accabt" class="nav-link text-dark">Contact</a></li>
          <li class="nav-item"><a href="/accept/acclog" class="nav-link text-dark">Login</a></li>
        </ul>
      </header>
    </div>
    <!-- navbar closed -->

    <!-- ----------- -->
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md col-sm col mt-3">
          <!-- <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><span class="text-danger">Hemo-Tracker</span></h1> -->
          <p class="lead border-start border-danger px-3">Blood donation plays a crucial role in healthcare systems
            worldwide, saving millions of lives annually. However, efficient management of blood donation processes
            remains a challenge. Hemo-Tracker emerges as a solution, integrating donor registration and acceptor request
            management into a streamlined platform. This paper delves into the functionalities, benefits, and
            implications of Hemo-Tracker in revolutionizing blood donation management.</p>
        </div>
        <div class="col-lg col-md col-sm col">
          <img src="/user/images/abt1.jpg" alt="" width="100%" style="border-radius: 20px;">
        </div>
      </div>
      <div class="row">
        <div class="container px-4" id="icon-grid">
          <h2 class="pb-2 border-bottom">Features</h2>
      
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col-3 d-flex align-items-start">
              <i class="bi bi-person-plus-fill text-body-secondary flex-shrink-0 me-3"  width="1.75em" height="1.75em"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Donor/Acceptor Registration</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col-3 d-flex align-items-start">
              <i class="bi bi-shield-fill-check text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Data Security and Privacy</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col-3 d-flex align-items-start">
              <i class="bi bi-database-fill-gear text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Comprehensive Donor Database</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col-3 d-flex align-items-start "">
              <i class="bi bi-bookmark-heart-fill text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Donation Preferences and Availability</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col-3 d-flex align-items-start">
              <i class="bi bi-question-circle-fill text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Acceptor Request Management</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col-3 d-flex align-items-start">
              <i class="bi bi-chat-dots-fill text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Communication and Coordination</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col-3 d-flex align-items-start">
              <i class="bi bi-bezier2 text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Automation and Efficiency</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col-3 d-flex align-items-start">
              <i class="bi bi-graph-up text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Insights and Analytics</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg col-md col-sm col mt-3">
          <p class="lead text-center px-3">Hemo-Tracker offers two primary functions: donor registration
            and acceptor request management. Donors can conveniently register on the platform, providing vital
            information such as personal details, blood type, and contact information. This information forms the
            foundation of a comprehensive donor database, facilitating efficient matching with acceptor requests. The
            system ensures data security and privacy, adhering to regulatory standards for healthcare information,
            thereby instilling trust and confidence among users.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg col-md col-sm col">
          <img src="/user/images/abt2.png" alt="" width="100%" style="border-radius: 20px;">
        </div>
        <div class="col-lg-9 col-md col-sm col mt-3">
          <p class="lead text-end border-end border-danger px-3">Hemo-Tracker offers two primary functions: donor registration
            and acceptor request management. Donors can conveniently register on the platform, providing vital
            information such as personal details, blood type, and contact information. This information forms the
            foundation of a comprehensive donor database, facilitating efficient matching with acceptor requests. The
            system ensures data security and privacy, adhering to regulatory standards for healthcare information,
            thereby instilling trust and confidence among users.</p>
        </div>
      </div>
    </div>
    <!-- --------- -->

        <!-- footer -->
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                  <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap" />
                  </svg>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Company, Inc</span>
              </div>
      
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="#"><img src="/user/images/icon-twitter.png" width="24"
                      height="24" alt="twitter icon"></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><img src="/user/images/icon-facebook.png" width="24"
                      height="24" alt="facebook icon"></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><img src="/user/images/icon-instagram.png" width="24"
                      height="24" alt="instagram icon"></a></li>
              </ul>
            </footer>
          </div>
      
      
        </div>
        <script>
          window.addEventListener("load", function () {
            const preloader = document.querySelector(".preloader");
            const page = document.querySelector(".page");
      
            setTimeout(function () {
              preloader.style.display = "none";
              page.style.display = "block";
            }, 1000); // Replace 2000 with the desired delay in milliseconds
          });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
      </body>
      
      </html>